@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px
}
h1,h2{
   font-family: 'Roboto Slab', serif; 
}
.block {
    display: block;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
* {
    border-radius: 0
}
a:hover, a:focus, a:active{
    text-decoration: none
}

.btn-info {
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .5) 20%, rgba(255, 255, 255, .1) 80%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 20%, rgba(255, 255, 255, .1) 80%);
    background-image: linear-gradient(rgba(255, 255, 255, .5) 20%, rgba(255, 255, 255, .1) 80%);
    border: 1px solid #10acc9;
    background-color: #21c4d9;
    color: #000
}
.btn-info:hover {
    color: #000;
}
.modal-header {
    background-color: #f39e0c;
    color: #fff;
}
.modal-footer {
    text-align: center;
    padding: 0 0 15px 0
}
.modal-footer a {
    color: #372F45;
    font-weight: bold
}
.btn-link {
    color: #09637d;
    font-weight: bold;
}
.card {
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ddd;
}
/*.card:hover {
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}*/

.overlay {
    background: url(../img/gridtile.html) repeat rgba(0, 0, 0, .7);
    padding: 60px 0;
    color: #fff
}
.with-bg {
    background-image: url(../img/homepage.html);
}
.white-bg{
    background-color: #fff
}
.black-bg{
    background:#1C1C1C
}
ul {
    padding-left: 15px;

}
h1 {
    font-size: 55px
}
.border-right {
    border-right: 2px dotted #a9a9a9;
    border-bottom: none
}
.parallax {
    background-attachment: fixed;
}
.grey {
    background: #dadada
}
.blue {
    color:#3A5A9D
}
.lightblue {
    color:#37DEF1
}
.red {
    color:#C50505
}
.yellow {
    color:#FFD119;
}
.img-center {
    margin: 0 auto;
    display: block;
}
.m-title {
    font-family: 'Roboto Slab', serif;
}
sup {
    color: #fc1e23;
}
.side-card {
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, .2);
}
/*scroll*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: #333;
    width: 45px;
    height: 43px;
    line-height: 37px;
    right: 30px;
    bottom:0px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color:#FFD119;
  
}
.scroll-top-wrapper:hover {
    background-color: #000;
    color:#FFD119
}
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
.p-b-20 {
    padding-bottom: 20px
}
.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
nav{
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.navbar{
    z-index: 9999;
    margin: 0;
    border:none;
}
.navbar-brand {
    padding: 5px;
}
/*form*/
.btn-primary{
    border-radius:0;
    border:2px solid #3A5A9D;
    color:#3A5A9D;
    background-color: transparent;
    text-transform: uppercase;
}
.btn-primary:hover{
    border-radius: 2px;
    border:2px solid #3A5A9D;
    color: #fff;
    background-color: transparent;
}
.btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.focus, .btn-primary:focus{
    border:2px solid #3A5A9D;
    background-color: transparent;
}
.input-group-addon, input, .form-control{
    border-radius: 0
}
.input-group-addon{
    color: #D30017
}
.form-control{
    height: 40px
}

.m-30{
    margin:30px 0
}
.m-50{
    margin:50px 0
}
.p-bottom{
    padding:50px 0
}